<div class="container">
  <div class="header">Content</div>
  <div class="container-content">

    <mat-nav-list>
      <a mat-list-item class="menu-item" routerLink="dimensional-css-scroll" routerLinkActive="selected-menu-item"
        #rla="routerLinkActive" [activated]="rla.isActive">
        <span matListItemTitle>3D CSS image slider Test</span>
      </a>
    </mat-nav-list>

    <!-- <a mat-list-item class="menu-item" [routerLink]="item.route" routerLinkActive="selected-menu-item"
      #rla="routerLinkActive" [activated]="rla.isActive">
      <mat-icon [fontSet]="rla.isActive?'material-icons':'material-icons-outlined'" matListItemIcon>
        {{item.icon}}</mat-icon>
      @if(!sidenavCollapsed()){
      <span matListItemTitle>{{item.label}}</span>
      }
    </a> -->

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>