<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <fun-side-nav [collapsed]="collapsed()"></fun-side-nav>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- xxxxxxxxxxxx -->
<!-- <div class="main-container">
  <fun-header></fun-header>

  <div class="content-container">
    <fun-side-nav></fun-side-nav>
    <div class="display-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <fun-footer></fun-footer>
    </div>
  </div>

</div> -->